<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://poco7250/adayexercise" version="1.0.0" viewmodes="maximized">
    <tizen:application id="q7xDfOoMpT.adayexercise" package="q7xDfOoMpT" required_version="7.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/api/firebase.database"/>
    <feature name="http://tizen.org/api/firebase.messaging"/>
    <icon src="a_day_exercise.png"/>
    <name>adayexercise</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
